{% extends "package/resource_edit_base.html" %}


{%- block subtitle %}{{ _('Validation Report') }}{% endblock -%}

{% block breadcrumb_content_selected %}{% endblock %}
{% block breadcrumb_content %}
  {{ super() }}

{% endblock %}

{% block pre_primary %}
  {% set back_url = h.url_for(dataset.type ~ '_resource.edit', id=dataset.id, resource_id=resource.id) %}
  {% snippet "package/snippets/step_indicator.html", step=2, back_url=back_url %}

    <section class="ontario-column ontario-small-12 module module-validation">
      <div class="module-content">
        <div class="actions">

        </div>

        <h1 class="page-heading">{{ h.resource_display_name(resource) | truncate(50) }}
        {{ h.get_validation_badge(resource)|safe }}
        </h1>

        <div class="validation-details">          
            <div>{{ _('Validation timestamp') }}: {{ h.render_datetime(resource.validation_timestamp, with_hours=True) }}</div>
            {% if validation.report %}
            <div>{{ _('Duration') }}: {{ h.validation_dict(validation.report)["stats"]["seconds"] }}s</div>
            {% endif %}
        </div>

        {% if validation.report %}
            <div id="report" {% if h.bootstrap_version() == '2' %}class="bs2"{% endif %} data-module="validation-report" data-module-report="{{ validation.report }}"></div>
        {% endif %}

      </div>

      <br></br>
      <br></br>
      <br></br>
      {% set package_id = resource.get('package_id') %}
      {% set resource_id = resource.get('id') %}
 
      <p>datastore_active {{resource.datastore_active}}</p>

      {% set action = h.url_for('datastore.dictionary',
                id=package_id,
                resource_id=resource.id) %}
      
      <form method="get" action="{{ action }}" >
        <button class="ontario-button ontario-button--primary" name="save" type="submit">Continue</button>
      </form>
    </section>
{% if h.use_webassets() %}
    {% snippet 'validation/snippets/validation_asset.html', name='ckanext-validation/report-css' %}
    {% snippet 'validation/snippets/validation_asset.html', name='ckanext-validation/report-js' %}
{% else %}
    {% snippet 'validation/snippets/validation_resource.html', name='ckanext-validation/report' %}
{% endif %}

{% endblock %}


{% block primary %}{% endblock %}

{% block secondary %}{% endblock %}
